app:
  name:
  port:
    http:
database:
  driver:
  host:
  port:
  name:
  username:
  password:
  sslMode:
  defaultMaxConn:
  defaultIdleConn:
  connMaxLifetime: #in minutes
  connMaxIdleTime: #in minutes
redis:
  host:
  port:
  name:
  password:
smtp:
  host:
  port:
  sender:
  password:
twilio:
  sid:
  authToken:
  phoneNumber:
twilio:
  sid:
  authToken:
  phoneNumber:
auth:
  apiKey:
  jwt:
    accessToken:
      secretKey:
    refreshToken:
      secretKey:
